.wrap-skills{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc( 100vh - 280px);
}

.wrap-skills .skill{
    position: absolute;
    font-size: 200px;
    color: var(--ftc-primary);
    opacity: 10%;
    transition: all .5s;
}


.wrap-skills .html{
    bottom: 30%;
    left: 84%;
}
.wrap-skills .html:hover{
    opacity: 100%;
    color: var(--color-html);
}
.wrap-skills .css{
    bottom: 46%;
    left: 56%;
}
.wrap-skills .css:hover{
    opacity: 100%;
    color: var(--color-css);
}
.wrap-skills .js{
    bottom: 20%;
    left: 34%;
}
.wrap-skills .js:hover{
    opacity: 100%;
    color: var(--color-js);
}
.wrap-skills .react{
    bottom: 59%;
    left: 11%;
}
.wrap-skills .react:hover{
    opacity: 100%;
    color: var(--color-react);
}


.coverage{
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
    transition: all .5s cubic-bezier(0.12, 0, 0.39, 0);
}

.circle{
    position: absolute;
    bottom: 20px;
    left: 20px;
}