:root{
    /*? Colores */
    --bg-primary: #290F68;
    --bg-secondary: black;
    
    /*? Color de fuentes */
    --ftc-primary: #d5d5d5;

    /*? Fuentes */
    --ft-informal: 'Segoe Print';
    --ft-code: 'Courier New';
}
*{
    margin: 0;
    padding: 0;
}